/**  Colors  **/
.blue {
  color: #3498DB; }

.purple {
  color: #9B59B6; }

.green {
  color: #1ABB9C; }

.aero {
  color: #9CC2CB; }

.red {
  color: #E74C3C; }

.dark {
  color: #34495E; }

.border-blue {
  border-color: #3498DB !important; }

.border-purple {
  border-color: #9B59B6 !important; }

.border-green {
  border-color: #1ABB9C !important; }

.border-aero {
  border-color: #9CC2CB !important; }

.border-red {
  border-color: #E74C3C !important; }

.border-dark {
  border-color: #34495E !important; }

.bg-white {
  background: #fff !important;
  border: 1px solid #fff !important;
  color: #73879C; }

.bg-green {
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff; }

.bg-red {
  background: #E74C3C !important;
  border: 1px solid #E74C3C !important;
  color: #fff; }

.bg-blue {
  background: #3498DB !important;
  border: 1px solid #3498DB !important;
  color: #fff; }

.bg-orange {
  background: #F39C12 !important;
  border: 1px solid #F39C12 !important;
  color: #fff; }

.bg-purple {
  background: #9B59B6 !important;
  border: 1px solid #9B59B6 !important;
  color: #fff; }

.bg-blue-sky {
  background: #50C1CF !important;
  border: 1px solid #50C1CF !important;
  color: #fff; }
  
  
  
.navbar-nav > li > a, .navbar-brand, .navbar-nav > li > a {
  color: #fff !important; }

.top_nav .nav > li > a:focus, .top_nav .nav > li > a:hover, .top_nav .nav .open > a, .top_nav .nav .open > a:focus, .top_nav .nav .open > a:hover {
  background: #D9DEE4; }



/** Links **/

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 10px; }

a {
  color: #5A738E;
  text-decoration: none; }

a, a:visited, a:focus, a:active, :visited, :focus, :active, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: 0; }

a:hover, a:focus {
  text-decoration: none; }

/* Col Bootstrap */

.col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 10px;
  padding-left: 10px; }

.row {
  margin-right: -10px;
  margin-left: -10px; }

.grid_slider .col-md-6 {
  padding: 0 40px; }



/** /inbox **/
/* *********  form design  **************************** */
.editor.btn-toolbar {
  zoom: 1;
  background: #F7F7F7;
  margin: 5px 2px;
  padding: 3px 0;
  border: 1px solid #EFEFEF; }

.input-group {
  margin-bottom: 10px; }

.ln_solid {
  border-top: 1px solid #e5e5e5;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0; }

span.section {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }

.form-control {
  border-radius: 0;
  width: 100%; }

.form-horizontal .control-label {
  padding-top: 8px; }

.form-control:focus {
  border-color: #CCD0D7;
  box-shadow: none !important; }

legend {
  font-size: 18px;
  color: inherit; }

.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0; }

.form-control-feedback {
  margin-top: 8px;
  height: 23px;
  color: #bbb;
  line-height: 24px;
  font-size: 15px; }

.form-control-feedback.left {
  border-right: 1px solid #ccc;
  left: 13px; }

.form-control-feedback.right {
  border-left: 1px solid #ccc;
  right: 13px; }

.form-control.has-feedback-left {
  padding-left: 45px; }

.form-control.has-feedback-right {
  padding-right: 45px; }

.form-group {
  margin-bottom: 10px; }

.validate {
  margin-top: 10px; }

.invalid-form-error-message {
  margin-top: 10px;
  padding: 5px; }

.invalid-form-error-message.filled {
  border-left: 2px solid #E74C3C; }

p.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6; }

p.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7; }
  
  

/** /Cropper **/
/** jQuery Smart Wizard  **/
.form_wizard .stepContainer {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0 solid #CCC;
  overflow-x: hidden; }

.wizard_horizontal ul.wizard_steps {
  display: table;
  list-style: none;
  position: relative;
  width: 100%;
  margin: 0 0 20px; }

.wizard_horizontal ul.wizard_steps li {
  display: table-cell;
  text-align: center; }

.wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
  display: block;
  position: relative;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  color: #666; }

.wizard_horizontal ul.wizard_steps li a:before {
  content: "";
  position: absolute;
  height: 4px;
  background: #ccc;
  top: 20px;
  width: 100%;
  z-index: 4;
  left: 0; }

.wizard_horizontal ul.wizard_steps li a.disabled .step_no {
  background: #ccc; }

.wizard_horizontal ul.wizard_steps li a .step_no {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 5px;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 5; }

.wizard_horizontal ul.wizard_steps li a.selected:before, .step_no {
  background: #34495E;
  color: #fff; }

.wizard_horizontal ul.wizard_steps li a.done:before, .wizard_horizontal ul.wizard_steps li a.done .step_no {
  background: #1ABB9C;
  color: #fff; }

.wizard_horizontal ul.wizard_steps li:first-child a:before {
  left: 50%; }

.wizard_horizontal ul.wizard_steps li:last-child a:before {
  right: 50%;
  width: 50%;
  left: auto; }

.wizard_verticle .stepContainer {
  width: 80%;
  float: left;
  padding: 0 10px; }

.actionBar {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 10px 5px;
  text-align: right;
  margin-top: 10px; }

.actionBar .buttonDisabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  box-shadow: none; }

.actionBar a {
  margin: 0 3px; }

.wizard_verticle .wizard_content {
  width: 80%;
  float: left;
  padding-left: 20px; }

.wizard_verticle ul.wizard_steps {
  display: table;
  list-style: none;
  position: relative;
  width: 20%;
  float: left;
  margin: 0 0 20px; }

.wizard_verticle ul.wizard_steps li {
  display: list-item;
  text-align: center; }

.wizard_verticle ul.wizard_steps li a {
  height: 80px; }

.wizard_verticle ul.wizard_steps li a:first-child {
  margin-top: 20px; }

.wizard_verticle ul.wizard_steps li a, .wizard_verticle ul.wizard_steps li:hover {
  display: block;
  position: relative;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  color: #666; }

.wizard_verticle ul.wizard_steps li a:before {
  content: "";
  position: absolute;
  height: 100%;
  background: #ccc;
  top: 20px;
  width: 4px;
  z-index: 4;
  left: 49%; }

.wizard_verticle ul.wizard_steps li a.disabled .step_no {
  background: #ccc; }

.wizard_verticle ul.wizard_steps li a .step_no {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 5px;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 5; }

.wizard_verticle ul.wizard_steps li a.selected:before, .step_no {
  background: #34495E;
  color: #fff; }

.wizard_verticle ul.wizard_steps li a.done:before, .wizard_verticle ul.wizard_steps li a.done .step_no {
  background: #1ABB9C;
  color: #fff; }

.wizard_verticle ul.wizard_steps li:first-child a:before {
  left: 49%; }

.wizard_verticle ul.wizard_steps li:last-child a:before {
  left: 49%;
  left: auto;
  width: 0; }

.form_wizard .loader {
  display: none; }

.form_wizard .msgBox {
  display: none; }

/** jQuery Smart Wizard  **/
/** bootstrap-progressbar  **/
.progress {
  border-radius: 0; }

.progress-bar-info {
  background-color: #3498DB; }

.progress-bar-success {
  background-color: #26B99A; }

.progress_summary .progress {
  margin: 5px 0 12px !important; }

.progress_summary .row {
  margin-bottom: 5px; }

.progress_summary .row .col-xs-2 {
  padding: 0; }

.progress_summary .more_info span {
  text-align: right;
  float: right; }

.progress_summary .data span {
  text-align: right;
  float: right; }

.progress_summary p {
  margin-bottom: 3px;
  width: 100%; }

.progress_title .left {
  float: left;
  text-align: left; }

.progress_title .right {
  float: right;
  text-align: right;
  font-weight: 300; }

.progress.progress_sm {
  border-radius: 0;
  margin-bottom: 18px;
  height: 10px !important; }

.progress.progress_sm .progress-bar {
  height: 10px !important; }

.dashboard_graph p {
  margin: 0 0 4px; }

ul.verticle_bars {
  width: 100%; }

ul.verticle_bars li {
  width: 23%;
  height: 200px;
  margin: 0; }

.progress.vertical.progress_wide {
  width: 35px; }

/** bootstrap-progressbar  **/
/** PNotify **/
.alert-success {
  color: #ffffff;
  background-color: rgba(38, 185, 154, 0.88);
  border-color: rgba(38, 185, 154, 0.88); }

.alert-info {
  color: #E9EDEF;
  background-color: rgba(52, 152, 219, 0.88);
  border-color: rgba(52, 152, 219, 0.88); }

.alert-warning {
  color: #E9EDEF;
  background-color: rgba(243, 156, 18, 0.88);
  border-color: rgba(243, 156, 18, 0.88); }

.alert-danger,
.alert-error {
  color: #E9EDEF;
  background-color: rgba(231, 76, 60, 0.88);
  border-color: rgba(231, 76, 60, 0.88); }

.ui-pnotify.dark .ui-pnotify-container {
  color: #E9EDEF;
  background-color: rgba(52, 73, 94, 0.88);
  border-color: rgba(52, 73, 94, 0.88); }

.custom-notifications {
  position: fixed;
  margin: 15px;
  right: 0;
  float: right;
  width: 400px;
  z-index: 4000;
  bottom: 0; }

ul.notifications {
  float: right;
  display: block;
  margin-bottom: 7px;
  padding: 0;
  width: 100%; }

.notifications li {
  float: right;
  margin: 3px;
  width: 36px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }

.notifications li:last-child {
  margin-left: 0; }

.notifications a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 9px 8px; }

.tabbed_notifications .text {
  padding: 5px 15px;
  height: 140px;
  border-radius: 7px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3); }

.tabbed_notifications div p {
  display: inline-block; }

.tabbed_notifications h2 {
  font-weight: bold;
  text-transform: uppercase;
  width: 80%;
  float: left;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block; }

.tabbed_notifications .close {
  padding: 5px;
  color: #E9EDEF;
  float: right;
  opacity: 1; }


/* *********  /ecommerce  **************************** */
/** login **/
.login {
  background: #F7F7F7; }

a.hiddenanchor {
  display: none; }

.login_wrapper {
  right: 0px;
  margin: 0px auto;
  margin-top: 5%;
  max-width: 350px;
  position: relative; }

.registration_form, .login_form {
  position: absolute;
  top: 0px;
  width: 100%; }

.registration_form {
  z-index: 21;
  opacity: 0;
  width: 100%; }

.login_form {
  z-index: 22; }

#signup:target ~ .login_wrapper .registration_form, #signin:target ~ .login_wrapper .login_form {
  z-index: 22;
  animation-name: fadeInLeft;
  animation-delay: .1s; }

#signup:target ~ .login_wrapper .login_form, #signin:target ~ .login_wrapper .registration_form {
  animation-name: fadeOutLeft; }

.animate {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
  -o-animation-duration: 0.5s;
  -o-animation-timing-function: ease;
  -o-animation-fill-mode: both;
  -ms-animation-duration: 0.5s;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both; }






  
  

body { 
	background: #F7F7F7;
	font: 14px/21px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #444; 
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: none;
 }

footer {
  background: #fff;
  padding: 15px 20px;
  display: block; }
  
  
/*
 |
 |	ADM
 |
 */

.restore-info{
	display: none;
}

  
  
  /*
  |---------------------
  |	Cabeçalho e Corpo	
  |---------------------
  */
  

.container {
  width: 100%;
  padding: 0;
}

.container_avaliacao{
	padding: 100px;
}


.navbar-custom{
	margin: 0px;
	border-radius: 0px;
}
.navbar-logo{
	padding: 8px 8px;
}
.navbar-form{
	margin-top: 6px;
	margin-bottom: 0px;
}

.nav-fix-top{
	widht: 100%;
	height: 50px;
}
 
 
 
 /*
 |------------------
 |	Página inicial	
 |------------------
 */
 
.img_container {
	max-width:360px;
	max-height:360px;
	width: auto;
	height: auto;
}
.img_prod_container {
	max-width:300px;
	max-height:200px;
	width: auto;
	height: auto;
}


.panel-body-banner{
	padding: 0px;
}

.banner_img{
	max-width:100%;
	max-height:610px;
	width: auto;
	height: auto;
	align: center;
}




/*
|---------------------------
|	Escolha de um Produto	
|---------------------------
*/


/*	Carrocel de produtos	*/
.carousel-indicators li {
    display: inline-block;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: black;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);   
}

        #myCarousel .carousel-indicators {
            margin: 10px 0 0;
            overflow: auto;
            position: static;
            text-align: left;
            white-space: nowrap;
            width: 100%;
        }
        #myCarousel .carousel-indicators li {
            background-color: transparent;
            -webkit-border-radius: 0;
            border-radius: 0;
            display: inline-block;
            margin: 0 !important;
            height: auto;
            width: auto;
        }
        #myCarousel .carousel-indicators li img {
            display: block;
        }
        #myCarousel .carousel-outer {
            position: relative;
        }
        
	.imgs_galery img{
	    max-width: 100%;
	    max-height: 80px;
	    width: auto;
	    height: auto;
	}

.cep-correios{
	
}

.modal-oferta{
	padding: 32px;
}
	.paragrafo_oferta{
		color: #585858;
		margin: 18px 0px 18px 0px;
		line-height: 1.8;
	}




.panel-login{
	padding: 26px 12px;
	margin: 38px 0px;
}






.row-separator{
	border-bottom: solid 1px #E6E6E6;
	padding-top: 4px;
	padding-bottom: 4px;
}
	.row-comprar{
		padding-top: 32px;
		padding-bottom: 32px;
	}
	.row-frete{
		padding-top: 8px;
		padding-bottom: 0px;
		border-bottom: 0px;
	}
	.desconto{
		font-size: 15px;
		font-weight: bold;
		color: green;
	}
	
	.nome_produto{
		color: #666;
	    font-size: 1.2em;
	}
	
	.preco_desconto_preco{
		color: #999;
		align: center;
	}
	
	.preco_desconto{
		text-decoration: line-through;
		color: #999;
		align: center;
	}
	
	.preco{
		font-size: 42px;
		font-weight: bold;
		color: #e60014;
		align: center;
	}
	
	.gold-star{
		color: gold;
	}
	
	.btn-comprar{
		widht: 100%;
		border-radius: 0px;
		background-color: #e60014;
		font-weight: bold;
	}

.prod_header_descricao{
	font-weight: bold;
}



.footer-left-border-div{
  height: 160px;
  border-left: 2px solid #ADB2B5;
  margin-top: 10px;
}